@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.about-box {
    width: 100%;
    height: 100%;
    background: black;
}

.about-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.top-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.about-heading {
    font-size: 50px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.top-description {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description {
    color: #C3C3B7;
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.white-text {
    color: white;
}

.red-text {
    color: #ED1C24;
}

.bottom-description {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.description-2 {
    font-size: 45px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.description-3 {
    font-size: 70px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.8;
    font-family: "Work Sans", sans-serif;
}

.description-4 {
    position: relative;
    height: 95px;
}

.description-4 .desc-1 {
    position: absolute;
    bottom: 20px;
    right: 45%;
    width: 120px;
}

.description-5 {
    margin-top: 50px;
    color: #C3C3B7;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 5px;
    font-family: "Open Sans", sans-serif;
}

.mid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.mid-img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.mid-img-box {
    width: 60%;
    height: 650px;
}

.mid-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mid-desc {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.description-4 .desc-2 {
    position: absolute;
    bottom: 20px;
    right: 40%;
    width: 220px;
}

.down-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.down-img-box {
    width: 60%;
    height: 550px;
    margin-top: 30px;
}

.down-img-box-2 {
    width: 500px;
    height: 180px;
    margin-top: 30px;
}

.down-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.globe-container {
    width: 100%;
    padding: 0 80px;
    display: flex;
    align-items: center;
}


.globe-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.globe-heading {
    font-size: 60px;
    font-weight: 700;
    color: #ED1C24;
    line-height: 60px;
    font-family: "Open Sans", sans-serif;
}

.globe-desc-1,
.globe-desc-2 {
    color: #C3C3B7;
    font-size: 22px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.globe-right {
    display: block;
    width: 50%;
}

.globe-img {
    width: 90%;
    margin: 0 auto;
}

.globe-img img {
    width: 100%;
}


.achievement-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.achi-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    font-family: "Open Sans", sans-serif;
}

.achi-img-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.achi-box {
    width: 450px;
    height: 420px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid #d8111196;
    background: #292929;
    border-radius: 12px;
    transition: all 0.4s ease-in;
}

.achi-box:hover {
    transform: translate3d(2px, -2px, 2px);
    box-shadow: 0px 1px 20px 5px rgb(231 88 88 / 52%);
}

.achi-img {
    width: 60%;
    height: 70%;
}

.achi-img img {
    width: 100%;
    height: 100%;
}

.achi-txt {
    color: #C3C3B7;
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.wht-next {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wht-nxt-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.nxt-heading {
    font-size: 50px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.nxt-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nxt-desc-1,
.nxt-desc-2 {
    color: #C3C3B7;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.explore {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 90px auto;
}

.exp-btn {
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #F96323, #C4732B, #9D7F30, #838635, #61913B);
}

.india {
    font-size: 25px;
    font-weight: 700;
}

.brand {
    font-size: 22px;
    font-weight: 300;
}

.orange-txt {
    color: orangered;
}

.green-txt {
    color: #008000;
}

@media (max-width:1025px) {

    .about-banner {
        height: auto;
    }

    .achi-img-box {
        flex-direction: column;
    }

    .about-heading {
        font-size: 40px;
        font-weight: 500;
    }

    .top-description {
        width: 90%;
    }

    .description {
        font-size: 16px;
    }

    .bottom-description {
        width: 90%;
    }

    .description-2 {
        font-size: 35px;
        font-weight: 500;
    }

    .description-3 {
        font-size: 50px;
    }

    .description-4 {
        position: relative;
        height: 80px;
    }

    .description-4 .desc-1 {
        bottom: 15px;
        width: 100px;
    }

    .description-5 {
        margin-top: 50px;
        font-size: 16px;
        font-weight: 300;
    }

    .mid-desc {
        width: 80%;
    }

    .description-4 .desc-2 {
        position: absolute;
        bottom: 20px;
        right: 35%;
        width: 180px;
    }

    .down-img-box {
        width: 80%;
    }

    .globe-container {
        padding: 0 20px;
        margin: 60px 0;
        flex-direction: column;
        gap: 20px;
    }

    .globe-left {
        width: 100%;
    }

    .globe-right {
        width: 100%;
    }    

    .globe-heading {
        font-size: 45px;
        font-weight: 400;
    }

    .nxt-heading {
        font-size: 40px;
        font-weight: 500;
    }

    .nxt-desc-1,
    .nxt-desc-2 {
        color: #C3C3B7;
        font-size: 16px;
        font-weight: 400;
    }

    .achievement-box {
        margin: 40px auto;
    }

    .achi-heading {
        font-size: 40px;
    }

    .wht-nxt-box {
        width: 90%;
    }
}


@media (max-width: 767px) {

    .about-heading {
        font-size: 35px;
        font-weight: 400;
    }

    .description-4 .desc-1 {
        bottom: 20px;
        right: 38%;
        width: 100px;
    }

    .description-4 .desc-2 {
        position: absolute;
        bottom: 20px;
        right: 22%;
        width: 180px;
    }

    .mid-img-box {
        width: 90%;
        height: 350px;
    }

    .down-img-box {
        height: 250px;
    }

    .globe-heading {
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        line-height: 40px;
    }

    .globe-desc-1,
    .globe-desc-2 {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }

    .achi-heading {
        font-size: 25px;
        line-height: 30px;
    }

    .achi-box {
        width: 90%;
        height: 400px;
        text-align: center;
    }
}